@import url(./__button/lead__button.css);
@import url(./__form/lead__form.css);
@import url(./__input/lead__input.css);
@import url(./__search/lead__search.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);
@import url(./__image/lead__image.css);

.lead {
  width: 100%;
  max-height: 576px;
  position: relative;
}
