@import url(./_type/header__link_type_load-about.css);
@import url(./_type/header__link_type_load-home.css);
@import url(./_type/header__link_type_expect.css);


.header__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-right: 34px;

}

.header__link:last-of-type {
  margin-right: 0;
}
