@import url(./__links_item/footer__links_item.css);
@import url(./__links/footer__links.css);
@import url(./__logo/footer__logo.css);
@import url(./__nav_item/footer__nav_item.css);
@import url(./__nav/footer__nav.css);
@import url(./__links_image/footer__links_image.css);

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 105px 25px 105px;
  align-items: center;
  background-color: #fff;
}
